body {
    background-image: url("/static/tmp/heart.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
    font-size: 18px;
}

ol {
    display: inline-block;
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #ff0000; /* яскраво-червоний */
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #ff6666; /* при наведенні трохи світліше */
}

h1 {
    color: #ff0000;
}
